<a href="https://colab.research.google.com/github/nittayac/DFEDATA6-EX1/blob/main/20220316_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sys

In [17]:
df = pd.read_csv('sample_data/cleaning_city-of-london-street - Copy.csv' ,encoding = "ISO-8859-1")

In [25]:
df.head()
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23434 entries, 0 to 23433
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             23434 non-null  int64
 1   Month                  23434 non-null  object
 2   Reported by            23434 non-null  object
 3   Falls within           23434 non-null  object
 4   Longitude              23434 non-null  float64
 5   Latitude               23434 non-null  float64
 6   Location               23434 non-null  object
 7   LSOA code              23434 non-null  object
 8   LSOA name              23434 non-null  object
 9   Crime type             23434 non-null  object
 10  Last outcome category  23434 non-null  object
 11  ID                     23434 non-null  int64
dtypes: float64(2), int64(2), object(8)
memory usage: 2.1+ MB

In [6]:
!pip install kmodes

Collecting kmodes
  Downloading kmodes-0.11.1-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.1

In [35]:
from kmodes.kmodes import KModes
from kmodes.kprototypes import KPrototypes

# k-modes algorithm
clusterer = KModes(n_clusters=14, init='Cao', n_init=10)
labels = clusterer.fit_predict(df)
cost = clusterer.cost_
centroids = clusterer.cluster_centroids_

In [43]:
centroids

array([['10', '2019-07', 'City of London Police',
        'City of London Police', '-0.079786', '51.517576',
        'On or near Police Station', 'E01032739', 'City of London 001F',
        'Other theft', 'Investigation complete; no suspect identified',
        '10'],
       ['0', '2019-08', 'City of London Police', 'City of London Police',
        '-0.08162', '51.516814', "On or near Alderman'S Walk",
        'E01032739', 'City of London 001F', 'Anti-social behaviour',
        'Anti-social behaviour', '0'],
       ['22', '2017-10', 'City of London Police',
        'City of London Police', '-0.080376', '51.517244',
        'On or near Supermarket', 'E01032739', 'City of London 001F',
        'Violence and sexual offences', 'Status update unavailable',
        '22'],
       ['20', '2019-09', 'City of London Police',
        'City of London Police', '-0.084967', '51.512598',
        'On or near Bell Inn Yard', 'E01032739', 'City of London 001F',
        'Shoplifting', 'Unable to prosecute suspect', '20'],
       ['166', '2019-05', 'City of London Police',
        'City of London Police', '-0.096363', '51.513377',
        'On or near New Change', 'E01032739', 'City of London 001F',
        'Theft from the person', 'Under investigation', '166'],
       ['81', '2019-04', 'City of London Police',
        'City of London Police', '-0.079011', '51.509614',
        'On or near Pedestrian Subway', 'E01032739',
        'City of London 001F', 'Drugs',
        'Offender given a drugs possession warning', '81'],
       ['110', '2018-08', 'City of London Police',
        'City of London Police', '-0.080034', '51.513389',
        'On or near Leadenhall Street', 'E01032739',
        'City of London 001F', 'Bicycle theft',
        'Court result unavailable', '110'],
       ['140', '2017-06', 'City of London Police',
        'City of London Police', '-0.078856', '51.518433',
        'On or near Artillery Lane', 'E01032739', 'City of London 001F',
        'Public order', 'Investigation complete; no suspect identified',
        '140'],
       ['14', '2019-04', 'City of London Police',
        'City of London Police', '-0.088843', '51.509532',
        'On or near Parking Area', 'E01032739', 'City of London 001F',
        'Violence and sexual offences',
        'Investigation complete; no suspect identified', '14'],
       ['13', '2019-06', 'City of London Police',
        'City of London Police', '-0.08776', '51.517149',
        'On or near London Wall', 'E01032739', 'City of London 001F',
        'Burglary', 'Investigation complete; no suspect identified',
        '13'],
       ['26', '2018-07', 'City of London Police',
        'City of London Police', '-0.088203', '51.518262',
        'On or near Moorgate', 'E01032739', 'City of London 001F',
        'Other theft', 'Investigation complete; no suspect identified',
        '26'],
       ['58', '2019-06', 'City of London Police',
        'City of London Police', '-0.09172', '51.513454',
        'On or near Supermarket', 'E01032739', 'City of London 001F',
        'Shoplifting', 'Investigation complete; no suspect identified',
        '58'],
       ['100', '2017-03', 'City of London Police',
        'City of London Police', '-0.080782', '51.514804',
        'On or near St Mary Axe', 'E01032739', 'City of London 001F',
        'Shoplifting', 'Investigation complete; no suspect identified',
        '100'],
       ['145', '2016-11', 'City of London Police',
        'City of London Police', '-0.084566', '51.51769',
        'On or near Blomfield Street', 'E01032739',
        'City of London 001F', 'Other theft',
        'Investigation complete; no suspect identified', '145']],
      dtype='<U45')

In [41]:
data = pd.DataFrame(index=range(10*len(df.iloc[:,4:5])), columns=['x','y','label'])

In [42]:
data

          x    y label
0       NaN  NaN   NaN
1       NaN  NaN   NaN
2       NaN  NaN   NaN
3       NaN  NaN   NaN
4       NaN  NaN   NaN
...     ...  ...   ...
234335  NaN  NaN   NaN
234336  NaN  NaN   NaN
234337  NaN  NaN   NaN
234338  NaN  NaN   NaN
234339  NaN  NaN   NaN

[234340 rows x 3 columns]