<a href="https://colab.research.google.com/github/nittayac/DFEDATA6-EX1/blob/main/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
connectionString = "mongodb://asteroid:qeqpcXHLl1NDTOsnAjH0X8ZkAWgEVUYiusxnjGKgAsc4fKnujvSOOBTdFNYoXFLUs4BFGweeKN1fFZKukehPSA==@asteroid.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@asteroid@"
client = pymongo.MongoClient(connectionString)

In [8]:
mydb = client["monkeybar"] # PLEASE DO NOT CHANGE THIS LINE  (monkeybar:DB Name)

In [9]:
mycol = mydb["roles"] # Change collection name 'fish' to anything else that you like!  (Create :Table)

In [10]:
mydict = { "name": "Lionel", "lastname": "Messi" }

x = mycol.insert_one(mydict)     #insert record

In [11]:
mydict = { "name": "Christy", "lastname": "Roll" }

x = mycol.insert_one(mydict)

In [ ]:
r2 = { "name": "Shrimp", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [12]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('6213b0f06dd22e79e610d418'), 'name': 'Lionel', 'lastname': 'Messi'}
{'_id': ObjectId('6213b13c6dd22e79e610d419'), 'name': 'Christy', 'lastname': 'Roll'}

In [13]:
mycol.update_one({"_id":"6213b0f06dd22e79e610d418"},{"$set":{"age":30}})   #update data

In [14]:
# Select data limit 1

for x in mycol.find({"name":"Lionel", "age":30}).limit(1):
  print(x)

{'_id': ObjectId('6213b0f06dd22e79e610d418'), 'name': 'Lionel', 'lastname': 'Messi', 'age': 30}

In [30]:
# Use Regex

myquery = { "name": { "$regex": "p$" } } # for example, this is a 
# regular expression that ends with letter 'p'
myquery = { "name": { "$regex": "^L" } }  #Find documents where the address starts with the letter "L":

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6213b0f06dd22e79e610d418'), 'name': 'Lionel', 'lastname': 'Messi', 'age': 30}

In [45]:
#insert document into the collection
data = [
   {"_id": "104", "name": "Romeo", "age": 25, "city": "Chagemai"},
   {"_id": "105", "name": "Sarmista", "age": 27, "city": "Phuket"},
   {"_id": "106", "name": "Rasajna", "age": 40, "city": "Rayong"}
]

data = [{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'},
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
{'_id': 1, 'name': 'John', 'address': 'Highway37'},
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'},
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'},
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}]
print (data)
res = mycol.insert_many(data)
print(res)

[{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}, {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}, {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}, {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}, {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': 1, 'name': 'John', 'address': 'Highway37'}, {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}, {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}, {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}, {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}, {'_id': 9, 'name': 'Susan', 'address': 'One way 98'}, {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}, {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}, {'_id': 12, 'name': 'William', 'address': 'Central st 954'}]

In [40]:
#Delete All records
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

8  documents deleted.

In [47]:
#Delete with Condition
myquery = { "name": {"$regex": "^R"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

0  documents deleted.

<pymongo.cursor.Cursor object at 0x7f6fa94ec3d0>